## 1

In [ ]:
#1 : Factorial
def fact(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*fact(n-1)
#=======================
print(fact(5))

120

In [ ]:
#2 : nth fibonacci
def fibo(n):
  if n == 0 or n == 1:
    return n
  else:
    return fibo(n-1)+fibo(n-2)
#================================
print(fibo(6))

8

In [ ]:
#3 : printing array
def recPrint(arr):
  if len(arr) == 1:
    print(arr[0])
  else:
    print(arr[0])
    return recPrint(arr[1:])
#============================
ary = [1,2,3,4,5,6]
recPrint(ary)

1
2
3
4
5
6

In [ ]:
#4 : power
def expo(b,p):
  if p == 0:
    return 1
  else:
    return b*expo(b,p-1)
#=======================\
expo(5,2)

25

## 2

In [ ]:
#a : Binary Number
def bin(dec):
  if dec == 0 or dec == 1:
    return dec
  return int(str(bin(dec//2))+str(dec%2))
#==========================================
bin(10)

1010

In [ ]:
class Node:
  def __init__(self,val,next):
    self.val = val
    self.next = next 
class LinkedList:
  def __init__(self,arr):
    self.head = Node(arr[0],None)
    temp = self.head
    for i in range(1,len(arr)):
      new_n = Node(arr[i],None)
      temp.next = new_n
      temp = new_n

In [ ]:
#b : singly linked list add
def addLL(h):
  if h.next == None:
    return h.val
  else:
    return h.val + addLL(h.next)
#===========================================
LL = LinkedList([1,2,3,4,5])
addLL(LL.head)

15

In [ ]:
#c : reverse LL print
def revPrinter(h):
  if h.next == None:
    print(h.val)
    return
  revPrinter(h.next)
  print(h.val)
#==========================
LL = LinkedList([1,2,3,4,5])
revPrinter(LL.head)

5
4
3
2
1

## 3

In [ ]:
#house of cards
def hocBuilder(height):
  if height == 0:
    return 0
  if height == 1:
    return 8
  return 5+hocBuilder(height-1)
hocBuilder(4)

23

## 4

In [ ]:
#a
def printRow(n):
  if n == 1:
    print(1, end =" ") 
    return
  printRow(n-1)
  print(n,end=" ")
def printCol(n):
  if n == 1:
    print(1,end = " ")
    return
  printCol(n-1)
  print()
  printRow(n)
printCol(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#b
def gap(n):
  if n == 0:
    return
  print(" ", end=" ")
  gap(n-1)
def rowPrint(n):
  if n == 1:
    print(1, end = " ")
    return
  rowPrint(n-1)
  print(n, end = " ")
def colPrint(n,m):
  if n == 1:
    gap(m-n)
    print(n, end = " ")
    return
  colPrint(n-1,m)
  print()
  gap(m-n)
  rowPrint(n)
colPrint(5,5)

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

## 5

In [2]:
import sys
sys.setrecursionlimit(150000)

class FinalQ():
  def calcProfit(self,investment):
    if investment <= 25000:
      return 0.0
    elif 25000 < investment <= 100000:
      return 4.5 + self.calcProfit(investment-100)
    else:
      return 8 + self.calcProfit(investment-100)   
  def print(self,array,idx):
    if idx<len(array):
      profit = self.calcProfit(array[idx])
      print(f"Investment :{array[idx]} , Profit : {profit}")
      self.print(array,idx+1)
#======================================================================
#Tester 
array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

Investment :25000 , Profit : 0.0
Investment :100000 , Profit : 3375.0
Investment :250000 , Profit : 15375.0
Investment :350000 , Profit : 23375.0

## Class Performance

In [4]:
def flattenList(arr,output):
  if len(arr) == 0:
    return
  i = arr.pop(0) 
  if type(i) != int:
    flattenList(i,output)
  else:
    output.append(i)
    flattenList(arr,output)
  flattenList(arr,output)
  return output
givenList = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
out = []
flattenList(givenList,out)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

## Updated Task

In [ ]:
class Node:
  def __init__(self, next, bottom, val): 
    self.next = next # for next item 
    self.bottom = bottom # for nested item check 
    self.val = val # The integer value.
class LL():
  def __init__(self,lis):
    i = lis[0]
    if type(i) == int:
        self.head = Node(None,None,i)
    else:
        self.head = Node(None,i,None)
    temp = self.head
    for i in range(1,len(lis)):
      if type(lis[i]) == int:
        nn = Node(None,None,lis[i])
      else:
        nn = Node(None,lis[i],None)
      temp.next = nn
      temp = nn

In [ ]:
def flatL(head,output):
  if head == None:
    return 
  if head.bottom == None:
    data = head.val
    output.append(data)
  else:
    data = head.bottom
    ll = LL(data)
    my_h = ll.head
    flatL(my_h,output)
  flatL(head.next,output)
  return output
#===================================
givenList = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
new_lis = LL(givenList)
my_head = new_lis.head
n = my_head
op = []
flattenedList = flatL(my_head,op)
print(flattenedList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]